@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: #192036;
  --color-highlight: #AF5726;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-montserrat: var(--font-montserrat);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .div {
    @apply flex items-center gap-4;
  }
  .trans {
    @apply transition-all ease-in-out duration-500;
  }
  .icon-big {
    @apply w-12 h-12;
  }
  .icon-mid {
    @apply w-8 h-8;
  }
  .icon-small {
    @apply w-5 h-5;
  }
  .input {
    @apply p-2 bg-white text-black;
  }
  .input-error {
    @apply outline-2 outline-red-600;
  }


  .nav-element {
    @apply text-white/65 hover:text-white/100 text-xl;
  }

  .about-container {
    @apply
      w-full h-full
      flex flex-col items-center
      xl:flex-row
      transition-all ease-in-out duration-500;
  }
  .about-section {
    @apply
      w-full      h-[70dvh]       max-w-xl
      xl:w-1/3    xl:h-[90dvh]

      flex flex-col
      p-8 border
      transition-all ease-in-out duration-500;
  }
}

